---
import HTMLStack from './icons/HTMLStack.astro';
import CSSStack from './icons/CSSStack.astro';
import JSStack from './icons/JSStack.astro';
import AstroStack from './icons/AstroStack.astro';
import TailwindStack from './icons/TailwindStack.astro';
import PHPStack from './icons/PHPStack.astro';
import LaravelStack from './icons/LaravelStack.astro';
import ReactStack from './icons/ReactStack.astro';
import MySQLStack from './icons/MySQLStack.astro';
import LinkBoton from "./LinkBoton.astro"
import GitHub from './icons/GitHub.astro';

const TAGS = {
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: TailwindStack,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#E44D26] text-white",
    icon: HTMLStack,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#264DE4] text-white",
    icon: CSSStack,
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black",
    icon: JSStack,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#777BB4] text-white",
    icon: PHPStack,
  },
  SYMFONY: {
    name: "Symfony",
    class: "bg-[#700000] text-white",
    icon: LaravelStack,
  },
  REACT: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: ReactStack,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#000000] text-white",
    icon: AstroStack,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#4479A1] text-white",
    icon: MySQLStack,
  },
}
const PROJECTS = [
  {
    title: "Sporthub",
    description:
      "Proyecto que consiste en desarrollar una red social interactiva donde los usuarios puedan compartir opiniones y noticias sobre sus deportes favoritos, manteniendo a la comunidad informada y conectada.",
    github: "https://github.com/RomeoDomiinguez/sporthub",
    image: "/projectos/sporthub.png",
    tags: [TAGS.SYMFONY, TAGS.PHP, TAGS.HTML, TAGS.CSS, TAGS.MYSQL],
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-md sm:rounded-md md:group-hover:-translate-y-1 md:group-hover:shadow-2xl ">
      <img alt="Imagen del proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkBoton href={github}>
              <GitHub class="size-6" />
              Ver código
            </LinkBoton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>


